@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: "Work Sans", sans-serif;
    background-color:#29abe2;
    color: #fff;;
    line-height:1.7;
}

h1,h2,h3,h4{
    font-family: "Work Sans", sans-serif;
    color:#fff;
    line-height:1.2;
}

section:not(#home,#bukutamu){
    padding:80px 0;
    border-bottom:1px solid #ffd700;
}

section h2{
    color:#cc0000;
    font-size:2.2rem;
    margin-bottom:40px;
    text-align:center;
}

header{
    position:sticky;
    top:0;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:rgba(204,0,0);
    backdrop-filter:blur(10px);
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
}

nav ul li a:hover{
    color:#4d4343;
}

main{
    max-width:1200px;
    margin:auto;
    padding:20px;
}

#home{
    text-align:center;
    background:linear-gradient(to bottom,#ffd700);
    padding:100px 20px;
}

#home h2{
    font-size:3.5rem;
}

#home a{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#cc0000;
    color:#fff;
    text-decoration:none;
    border-radius:50px;
}

#home a:hover{
    transform:translateY(-3px);
}

#about p{
    text-align:justify;
    text-indent:2em;
}

#profile{
    text-align:center;
}

#profile img{
    width:220px;
    height:220px;
    border-radius:50%;
    border:5px solid #29abe2;
    box-shadow:0 0 25px #4d4343;
}

#gallery{
    padding:80-0px 0;
    text-align:center;
}

.gallery-list{
    max-width:1000px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.foto-card{
    background:#cc0000;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px #4d4343;
    transition:.3s;
}

.foto-card:hover{
    transform:translateY(-8px);
}

.foto-card img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    display:block;
}

.foto-card h3{
    color:#fff;
    margin:15px 0 8px;
}

.foto-card p{
    color:#fff;
    margin-bottom:15px;
    padding:0 10px;
}

#video{
    padding:80px 20px;
}

#video h2{
    text-align:center;
    margin-bottom:40px;
}

.video-list{
    list-style:none;

    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:25px;

    max-width:1100px;
    margin:auto;
}

.video-card{
    background:#cc0000;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px #4d4343;
    transition:.3s;
}

.video-card:hover{
    transform:translateY(-8px);
}

.video-card video{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
}

.video-card figcaption{
    padding:18px;
    text-align:center;
}

.video-card h3{
    color:#fff;
    margin-bottom:8px;
}

.video-card p{
    color:#fff;
}

@media(max-width:992px){

    .video-list{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .video-list{
        grid-template-columns:1fr;
    }

}